html, body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
label{
  font-weight: 500;
}
.list-group-item{
  cursor: pointer;
}
.list-group-item.selected:hover{
  background-color: #0275d8;
}
.list-group-item:hover{
  background-color: #EEE;
}
.selected{
  background-color: #0275d8;
  color: #FFF;
}
table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table, th, td {
    padding: 8px 8px;
    text-align: left;
}
th {
  background-color: #4CAF50;
  border-right: 1px solid #ddd;
  font-weight: 300;
  color: white;
}
td {
  border-right: 1px solid #ddd;
  font-weight: 300;
}
th:last-child{
  background-color: #4CAF50;
  border-right: 0px solid #ddd;
  font-weight: 300;
  color: white;
}
td:last-child{
  border-right: 0px solid #ddd;
}
tr{
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:last-child{
  border-bottom: 0px solid #ddd;
}

/* CUSTOMER */
.customer-item button.editOrder{
  background-color: transparent;
  padding: 0px;
  color: #E0E0E0;
  border: none;
  outline: none;
}
.customer-item button.editOrder .fa-pencil{ color: #FFF;  }
/* hover */
.customer-item:hover button.editOrder{ color: #757575; }
.customer-item:hover button.editOrder:hover{ color: #0275d8; cursor: pointer; }
/* selected */
.customer-item.selected button.editOrder{ color: #0275d8; }
.customer-item.selected:hover button.editOrder{ color: #0D47A1; }
.customer-item.selected:hover button.editOrder:hover{ color: #0D47A1;}
/* ORDER */
.order-item button.editOrder{
  background-color: transparent;
  padding: 0px;
  color: #E0E0E0;
  border: none;
  outline: none;
}
.order-item:hover button.editOrder{ color: #757575;}
.order-item:hover button.editOrder:hover{ color: #039BE5; cursor: pointer;}
button.editOrder span{}

  .ce-order{
    border:  1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    background-color: #FFF;
    padding: 8px;
    resize: vertical;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }
  .ce-order:focus{
    border:  1px solid rgb(92, 179, 253);
    outline: none;
  }
